@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.collapse-table table {
  border-collapse: collapse;
  border-spacing: 0;
}
.seperate-table table {
  border-collapse: separate;
  border-spacing: 0;
}
.last-table table {
  border-collapse: collapse;
  border-spacing: 0;
}

.table-section {
  min-width: 1167px;
  color: #2f2f2f;
  font-family: Public Sans, sans-serif;
}
.spacing-wrapper{
  padding: 21px 9px 58px 20px;
}
.logo-wrapper {
  background-color: #a4c2f4;
  padding: 15px 20px;
}

.logo {
  width: 200px;
}
.table-wrapper * {
  margin: 0;
  padding: 0;
}
.head-wrapper {
  width: 100%;
}
.head-31 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.80323;
}

.mb-10 {
  margin-bottom: 10px;
}
.para-22 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.28545;
}
.blue {
  color: #004a98;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.table-data-cell {
  /* border: 1px solid #000; */
  justify-content: center;
  align-items: center;
  padding: 8px 2px;
  /* text-align: center; */
}

.para-16 {
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.175;
  margin: 0 12px;
  display: inline-block;
}
.para-18 {
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.19;
  margin: 0 12px;
  display: inline-block;
}
.para-14 {
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.175;
  display: inline-block;
  margin: 0 12px;
}
.para-14.green {
  color: #24c23e;
  background-image: url("./green.svg");
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: 12.25px 9.19px;
  padding-left: 17px;
}
.para-14.red {
  color: #d63131;
  background-image: url("./red.svg");
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: 12px 9px;
  padding-left: 17px;
}
.hide {
  opacity: 0;
  z-index: -12;
  background-size: 12.25px 9.19px;
  padding-left: 17px;
  position: relative;
}

.dark {
  background-color: #1e263b;
  color: #fff;
}
.white {
  background-color: #fff;
  color: #2f2f2f;
}
.gery {
  background: #ffffff00;
  color: #2f2f2f;
}

.mw-290 {
  width: 100%;
  max-width: 290px;
}
.mw-290 > table {
  width: 100%;
}
.sky-blue {
  background-color: #d4e2f933;
}

.mr-20 {
  margin-right: 20px;
}

.two-col {
  display: flex;
}

.two-col table {
  border-radius: 8px;
  box-shadow: inset 0px 0px 0px 1px #2f2f2f80;
  overflow: hidden;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.left-align {
  text-align: left;
}
.collapse-table td {
  border: 1px solid #2f2f2f80;
}

.collapse-table th {
  border: 1px solid black;
}

.collapse-table tr:not(:first-child) > td:first-child {
  background-color: #ccd8e3;
}

.collapse-table tr:not(:first-child):not(:last-child):nth-child(odd) {
  background-color: #f2f5fd;
}

/* .collapse-table tr:not(:first-child):not(:last-child):nth-child(even) {
  background-color: #ffffff;
} */

.center-align {
  text-align: center;
}

.weekend {
  background-color: #d4e2f9 !important;
}

.today {
  border: 2px solid black;
}


.last-table td {
  border: 1px solid #2f2f2f80;
}

.last-table th {
  border: 1px solid black;
}

.last-table tr:not(:first-child) > td:first-child {
  background-color: #ccd8e3;
}

.last-table tr:not(:first-child):not(:nth-child(2)):nth-child(even) {
  background-color: #f2f5fd;
}

.footer-section{
  background-color:#1E263B;
  padding: 30px 20px 50px 20px;
}
.footer-logo-wrapper{
  max-width: 118px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.footer-social-logo{
  width: 18px;
  height: 18px;
}

.para-14-inter{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.12;
  color: #FFFFFF;
}
.para-10{
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.6;
  color: #FFFFFF;
}

.mw-235{
  width: 100%;
  max-width: 235px;
}

.footer-logo{
  width: 83px;
  height: 36px;
}